<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "charCounter.js" %>
  <% end %>
  <div>
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: "message", rows: "4", cols: "30"%>
  </div>
  <span class="countdown timestamp"></span>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>